body {
  background: black;
  font-family: verdana;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  font-weight: bold;
}

h3 {
  color: grey;
  text-align: right;
  font-weight: normal;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
  padding-bottom: 10px;
}

a active {
  color: aquamarine;
}

img {
  padding-bottom: 20px;
}
